<!--begin::Header-->
<div id="kt_app_header" class="app-header  align-items-stretch "
     >
                        <!--begin::Header container-->
            <div class="app-container  container-fluid d-flex align-items-stretch justify-content-between " id="kt_app_header_container">
                <!--begin::Header-->
<div class="d-flex align-items-center justify-content-between flex-row-fluid" id="kt_app_header_wrapper">
<!--layout-partial:layout/partials/header/__logo.html-->
<!--layout-partial:layout/partials/header/__menu.html-->
<!--layout-partial:layout/partials/header/__navbar.html-->
</div>
<!--end::Header-->	             </div>
            <!--end::Header container-->
            </div>
<!--end::Header-->