<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar  py-7 pt-lg-15 pb-lg-5 "
         >
            <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex align-items-stretch ">
            <!--begin::Toolbar container-->
<div class="app-toolbar-container d-flex flex-column flex-row-fluid">
<!--layout-partial:layout/partials/toolbar/_page-title.html-->
</div>
<!--end::Toolbar container--->
        </div>
        <!--end::Toolbar container-->
    </div>
<!--end::Toolbar-->