<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
    <!--begin::Page-->
    <div class="app-page  flex-column flex-column-fluid " id="kt_app_page">
        <partial name="/Pages/layout/partials/_header.cshtml" />
        <!--begin::Wrapper-->
        <div class=" app-wrapper flex-column flex-row-fluid " id=" kt_app_wrapper">
            <partial name="/Pages/layout/partials/_toolbar.cshtml" />
            <!--begin::Wrapper container-->
            <div class=" app-container container-xxl ">
                <!--begin::Main-->
                <div class=" app-main flex-column flex-row-fluid " id=" kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">
                        @* <partial name="/Pages/layout/partials/_content.cshtml" /> *@
                        <h1>Hello worl</h1>
                    </div>
                    <!--end::Content wrapper-->
                    <partial name="/Pages/layout/partials/_footer.cshtml" />
                </div>
                <!--end:::Main-->
            </div>
            <!--end::Wrapper container-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::App-->
<partial name="/Pages/partials/_drawers.cshtml" />