<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
    <!--begin::User menu-->
    <div class="app-navbar-item me-3" id="kt_header_user_menu_toggle">
        <!--begin::Menu wrapper-->
        <div class="btn btn-icon btn-color-gray-600 btn-active-color-primary w-35px h-35px w-md-40px h-md-40px"
            data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
            data-kt-menu-attach="parent"
            data-kt-menu-placement="bottom-end">
            <i class="ki-outline ki-user fs-2"></i>        </div>
<!--layout-partial:partials/menus/_user-account-menu.html-->
        <!--end::Menu wrapper-->
    </div>
    <!--end::User menu-->
    <!--begin::Chat-->
    <div class="app-navbar-item me-3">
        <a href="#" class="d-flex align-items-center" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
            <button class="btn btn-icon btn-body position-relative btn btn-icon btn-color-gray-600 btn-active-color-primary w-35px h-35px w-md-40px h-md-40px">
                <i class="ki-outline ki-messages fs-2"></i>                <span class="position-absolute top-0 start-100 translate-middle badge badge-circle badge-sm badge-danger min-w-15px min-h-15px ms-n1 fs-8" style="margin-top: 5px;">5</span>
            </button>
<!--layout-partial:partials/menus/_shopping-cart.html-->
        </a>
    </div>
    <!--end::Chat-->
    <!--begin::My apps links-->
    <div class="app-navbar-item me-3">
        <!--begin::Menu wrapper-->
        <div class="btn btn-icon btn-color-gray-600 btn-active-color-primary w-35px h-35px w-md-40px h-md-40px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
            <i class="ki-outline ki-element-11 fs-2"></i>        </div>
<!--layout-partial:partials/menus/_my-apps-menu.html-->
        <!--end::Menu wrapper-->
    </div>
    <!--end::My apps links-->
    <!--begin::Action-->
    <div class="app-navbar-item ms-2">
        <a href="#" class="btn btn-flex btn-icon btn-secondary align-self-center fw-bold  h-35px w-md-100 py-2 px-4"  data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">
            <i class="ki-outline ki-crown-2 fs-4"></i>
            <span class="d-none d-md-inline ms-1 fs-7">Try Premium</span>
        </a>
    </div>
    <!--end::Action-->
    <!--begin::Sidebar menu toggle-->
        <!--end::Sidebar menu toggle-->
</div>
<!--end::Navbar-->