<!--begin::Page title-->
<div class="page-title gap-4 me-3 mb-3 mb-lg-5">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder m-0">
        Dashboard
    </h1>
    <!--end::Title-->
</div>
<!--end::Page title-->