@page
@model WebApp.Pages.Index

@{

}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Basic Card
                <small>sub title</small>
            </h3>
        </div>
    </div>
    <div class="card-body">
        ...
    </div>
</div>