@page
@model WebApp.Pages.Index

@{
}
@for (int i = 1; i < 20; i++)
{
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    Basic Card
                    <small>sub title</small>
                </h3>
            </div>
        </div>
        <div class="card-body">
            <button>hello worl</button>
        </div>
    </div>
}