@page
@model WebAppEnum.Pages.Ebooks.EditModel
@using WebAppEnum.Ebooks

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ebook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger form-text"></div>
            <input type="hidden" asp-for="Ebook.Id" />
            <div class="mb-3">
                <label asp-for="Ebook.Name" class="form-label"></label>
                <input asp-for="Ebook.Name" class="form-control" />
                <span asp-validation-for="Ebook.Name" class="text-danger form-text"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook.Type" class="form-label"></label>
                <select asp-for="Ebook.Type" class="form-control" asp-items="Html.GetEnumSelectListAsString<BookType>()"></select>
                <span asp-validation-for="Ebook.Type" class="text-danger form-text"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook.PublishDate" class="form-label"></label>
                <input asp-for="Ebook.PublishDate" class="form-control" />
                <span asp-validation-for="Ebook.PublishDate" class="text-danger form-text"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ebook.Price" class="form-label"></label>
                <input asp-for="Ebook.Price" type="number" class="form-control" />
                <span asp-validation-for="Ebook.Price" class="text-danger form-text"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
